body{
    background: url('../../imgs/thor.jpeg') no-repeat;
    transition: all 2s;
    padding: 30px;
}
::placeholder {
    color: gray;
}

button {
    border-radius: 5px;
    padding: 20px 20px;
    border: 1px solid beige;
    background: transparent;
    outline: none;
}
button:hover {
    background:rgba(255, 0, 0, 0.26);
}